<!DOCTYPE html>
<html>
<head>
<style>
    .gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
    }

    .gallery img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1; /* This creates a square */
        object-fit: cover;
    }
</style>
</head>
<body>

<div class="gallery">
    <% for(let i=0; i<photos.length; i++) {%>
        <a href="album/<%= photos[i]._id %>">
            <img src="<%= photos[i].img %>" alt="Photo 1">
        </a>
    <% } %>
</div>

</body>
</html>
